
.FeeTable {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.FeeTable .legend {
    align-self: center;
    display: inline-flex;
}

.FeeTable .legend div {
    width: 13vw;
    cursor: pointer;
    padding-left: 5vw;
    white-space: nowrap;
}

.FeeTable .legend span {
    font-size: 25px;
}

p.not-found {
    text-align: center;
}