.ep-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.ep-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    overflow-y: scroll;
    height: 80vh;
}

.ep-popup-inner .close-btn {
    position: absolute;
    color: white;
    padding: 6px 12px 6px 12px;
    background-color: green;
    top: 16px;
    right: 16px;
}

.ep-messagePopup {
    white-space: pre-wrap;
    text-align: left;
}